<div class="container">
  <div class="d-flex flex-column gap-2">
    <app-navbar></app-navbar>
    <div class="d-flex flex-row gap-2">
      <app-list-group-menu class="w-25"></app-list-group-menu>
      <div class="flex-grow-1 p-2 text-nowrap w-75">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>
</div>


<!-- <div class="container mt-4">
  <div class="d-flex gap-5 align-items-center">
    <div class="bg-info p-2">
      <h1>Service Manager</h1>
      <h2>Main Menu</h2>
    </div>
    <div class="bg-success p-2 text-light">
      <h3>Welcome</h3>
      <p>Hello <strong>{{name}}</strong></p>
    </div>
    
  </div>
</div> -->